@charset "UTF-8";

.u-auto {
  margin: 0 auto;
}

.u-center {
  text-align: center;
}

.u-right {
  text-align: right;
}

.u-left {
  text-align: left;
}

.u-just {
  text-align: justify;
  text-justify: inter-ideograph; // IE・Edge
}
