@charset "UTF-8";

@font-face {
  font-family: "M PLUS Rounded 1c";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src:
    url("../fonts/MPLUSRounded1c/MPLUSRounded1c-Thin.woff2") format("woff2"),
    url("../fonts/MPLUSRounded1c/MPLUSRounded1c-Thin.woff") format("woff"),
    url("../fonts/MPLUSRounded1c/MPLUSRounded1c-Thin.ttf") format("truetype"),
    url("../fonts/MPLUSRounded1c/MPLUSRounded1c-Thin.eot")
    format("embedded-opentype");
}

@font-face {
  font-family: "M PLUS Rounded 1c";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src:
    url("../fonts/MPLUSRounded1c/MPLUSRounded1c-Light.woff2") format("woff2"),
    url("../fonts/MPLUSRounded1c/MPLUSRounded1c-Light.woff") format("woff"),
    url("../fonts/MPLUSRounded1c/MPLUSRounded1c-Light.ttf") format("truetype"),
    url("../fonts/MPLUSRounded1c/MPLUSRounded1c-Light.eot")
    format("embedded-opentype");
}

@font-face {
  font-family: "M PLUS Rounded 1c";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src:
    url("../fonts/MPLUSRounded1c/MPLUSRounded1c-DemiLight.woff2")
    format("woff2"),
    url("../fonts/MPLUSRounded1c/MPLUSRounded1c-DemiLight.woff") format("woff"),
    url("../fonts/MPLUSRounded1c/MPLUSRounded1c-DemiLight.ttf")
    format("truetype"),
    url("../fonts/MPLUSRounded1c/MPLUSRounded1c-DemiLight.eot")
    format("embedded-opentype");
}

@font-face {
  font-family: "M PLUS Rounded 1c";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/MPLUSRounded1c/MPLUSRounded1c-Regular.woff2")
    format("woff2"),
    url("../fonts/MPLUSRounded1c/MPLUSRounded1c-Regular.woff") format("woff"),
    url("../fonts/MPLUSRounded1c/MPLUSRounded1c-Regular.ttf") format("truetype"),
    url("../fonts/MPLUSRounded1c/MPLUSRounded1c-Regular.eot")
    format("embedded-opentype");
}

@font-face {
  font-family: "M PLUS Rounded 1c";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    url("../fonts/MPLUSRounded1c/MPLUSRounded1c-Medium.woff2")
    format("woff2"),
    url("../fonts/MPLUSRounded1c/MPLUSRounded1c-Medium.woff") format("woff"),
    url("../fonts/MPLUSRounded1c/MPLUSRounded1c-Medium.ttf") format("truetype"),
    url("../fonts/MPLUSRounded1c/MPLUSRounded1c-Medium.eot")
    format("embedded-opentype");
}

@font-face {
  font-family: "M PLUS Rounded 1c";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    url("../fonts/MPLUSRounded1c/MPLUSRounded1c-Bold.woff2") format("woff2"),
    url("../fonts/MPLUSRounded1c/MPLUSRounded1c-Bold.woff") format("woff"),
    url("../fonts/MPLUSRounded1c/MPLUSRounded1c-Bold.ttf") format("truetype"),
    url("../fonts/MPLUSRounded1c/MPLUSRounded1c-Bold.eot")
    format("embedded-opentype");
}

@font-face {
  font-family: "M PLUS Rounded 1c";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src:
    url("../fonts/MPLUSRounded1c/MPLUSRounded1c-Black.woff2") format("woff2"),
    url("../fonts/MPLUSRounded1c/MPLUSRounded1c-Black.woff") format("woff"),
    url("../fonts/MPLUSRounded1c/MPLUSRounded1c-Black.ttf") format("truetype"),
    url("../fonts/MPLUSRounded1c/MPLUSRounded1c-Black.eot")
    format("embedded-opentype");
}
